<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">
                            <span class="glyphicon glyphicon-tree-deciduous"></span>
                            <span class="light">Omega</span>Life
                        </h1>
                        <%= link_to("#about", class:"btn btn-circle page-scroll") do %>
                          <span class=" glyphicon glyphicon-chevron-down"></span>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </header>